LAB1/part3/3.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT data (ips, accesses)>
<!ELEMENT ips (ip*)>
<!ELEMENT ip EMPTY>
<!ELEMENT accesses (pc_accesses, mobile_accesses)>
<!ELEMENT pc_accesses (pc+)>
<!ELEMENT mobile_accesses (mobile+)>
<!ELEMENT platform EMPTY>

<!ATTLIST ip addr CDATA #REQUIRED frequency CDATA #REQUIRED >
<!ATTLIST platform name (Windows|Linux|MacOS) #REQUIRED amount CDATA #REQUIRED >
